<%- include('./partials/messages.ejs'); %>
<%- include('./partials/nav.ejs'); %>

<h1 class="mb-3 mt-4 text-center">Welcome to your feed, <%= name %> !</h1>

<% articles.forEach(function (article) { %>

    <div class="card mt-4">
      <h3 class="card-header">
        <%= article.title %>
      </h3>
        <div class="card-body">
          <h5 class="card-title"> by <%= article.name %></h5>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdDate.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="/user/feed/<%= article.slug %>" class="btn btn-primary">Read More</a>
        </div>
      </div>

<% }) %>