<%- include('./partials/messages.ejs'); %>
<%- include('./partials/nav.ejs'); %>

<div class="card mt-4 border-dark">

    <h3 class="card-header text-center"> <%= article.title %> </h3>
    <div class="card-body">
        <div class="card-title mb-4"> Description: <strong> <%= article.description %> </strong> </div>
        <hr>
        <p class="mb-2"> <%- article.sanitizedHtml %> </p>
    </div>

    <div class="card-footer mb-2"> Created on : <strong> <%= article.createdDate.toLocaleDateString() %> </strong>
        <div class="float-right"> Created by: <strong> <%= article.name %> </strong> </div>
      </div>

</div>

<a href="javascript.history.back()" class="btn btn-dark mt-4"> Back </a>