<%- include('./partials/messages.ejs'); %>
<%- include('./partials/nav.ejs'); %>

<div class="card mt-4 border-dark">

    <h3 class="card-header text-center"> <%= article.title %> </h3>
    <div class="card-body" style="background-color: aliceblue;">
        <div class="card-title mb-4"> Description: <strong> <%= article.description %> </strong> </div>
        <hr>
        <p class="mb-2"> <%- article.sanitizedHtml %> </p>
    </div>

    <div class="card-footer mb-2"> Created on : <strong> <%= article.createdDate.toLocaleDateString() %> </strong>
        <div class="float-right"> Created by: <strong> <%= article.name %> </strong> </div>
      </div>

</div>

<% if(article.name == name) { %>
<a href="/user/articles" class="btn btn-dark btn-lg mt-4 mr-2"> Back </a>
<a href="/user/articles/edit/<%= article.id %>" class="btn btn-info btn-lg mt-4 mr-2"> Edit </a>
<form action="/user/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
    <button type="submit" class="btn btn-primary btn-lg mt-4">Delete</button>
  </form>
<% } else { %>
    <a href="/user/feed" class="btn btn-dark btn-lg mt-4"> Back </a>
<% } %>